In [85]:
import featuretools as ft
import pandas as pd
import numpy as np
from datetime import datetime

In [107]:
data = pd.read_csv('search logs processed.csv', parse_dates=['departure','created_date'], na_values = "NaN")

data.head()

,adult,after_midnight_rides,back,bikes,children,currency,departure,from,return,search_by,to,user_agent,client_ip,client_ruid,install_id,webtrekk_eid,shop_code,trace_id,created_at,created_date
0,1,True,False,0,0,EUR,2018-10-14,3908,NaN,cities,106,FlixBus/5.4 (iPhone; iOS 11.4.1; Scale/2.00),46.193.0.197,1537746252.503.408362613.91853842,44E11C82-BDC0-4C36-B228-4ED1D1CED5E1,NaN,mobile_flix_ios,166ec153-9376-4d81-98c2-3105a0b859e2,1.537750e+12,2018-09-23
1,1,True,False,0,0,EUR,2018-09-28,3138,NaN,cities,3908,Xiaomi/clover/clover:8.1.0/OPM1.171019.019/V9....,37.171.185.136,1537746252.841.404650265.91861118,94a66f1d-6bfe-4d24-a19b-0ac20f947dd9,NaN,mobile_flix_android,462ffa0b-a4e7-4166-ae62-de5bdb9af1fe,1.537750e+12,2018-09-23
2,1,True,False,0,0,EUR,2018-10-31,101,NaN,cities,674,Sony/E6653/E6653:7.1.1/32.4.A.1.54/3761073091:...,95.91.201.149,1537746252.696.408362972.93814514,5af456e2-6cdd-4ed2-80ad-752963ac1354,NaN,mobile_flix_android,22f8cc55-a6d1-483e-9c69-e5a396d0b224,1.537750e+12,2018-09-23
3,1,True,False,0,0,EUR,2018-09-24,159,NaN,cities,98,samsung/serranoltexx/serranolte:4.4.2/KOT49H/I...,188.110.250.89,1537746253.181.408367043.94320746,acf6936d-9dfe-4f66-96a8-a0dcd10cace3,NaN,mobile_flix_android,6a0cf6db-82a6-4c1c-a99c-d24b4840b6e4,1.537750e+12,2018-09-23
4,1,True,False,0,0,EUR,2018-10-04,1905,NaN,cities,2015,Mozilla/5.0 (Macintosh; Intel Mac OS X 10.11; ...,5.103.60.14,1537746253.047.404660184.93301074,NaN,;469816027576686|2153774624484552328#215377462...,flixbus_com,bb601fd4-3df4-4f61-9566-0f2acec2a18e,1.537750e+12,2018-09-23

In [108]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1999 entries, 0 to 1998
Data columns (total 20 columns):
adult                   1999 non-null int64
after_midnight_rides    1999 non-null bool
back                    1999 non-null bool
bikes                   1999 non-null int64
children                1999 non-null int64
currency                1999 non-null object
departure               1999 non-null datetime64[ns]
from                    1999 non-null int64
return                  96 non-null object
search_by               1999 non-null object
to                      1999 non-null int64
user_agent              1998 non-null object
client_ip               1999 non-null object
client_ruid             1999 non-null object
install_id              766 non-null object
webtrekk_eid            450 non-null object
shop_code               1999 non-null object
trace_id                1999 non-null object
created_at              1999 non-null float64
created_date            1999 non-null datetime64[ns]
dtypes: bool(2), datetime64[ns](2), float64(1), int64(5), object(10)
memory usage: 285.1+ KB

In [109]:
data.head()

,adult,after_midnight_rides,back,bikes,children,currency,departure,from,return,search_by,to,user_agent,client_ip,client_ruid,install_id,webtrekk_eid,shop_code,trace_id,created_at,created_date
0,1,True,False,0,0,EUR,2018-10-14,3908,NaN,cities,106,FlixBus/5.4 (iPhone; iOS 11.4.1; Scale/2.00),46.193.0.197,1537746252.503.408362613.91853842,44E11C82-BDC0-4C36-B228-4ED1D1CED5E1,NaN,mobile_flix_ios,166ec153-9376-4d81-98c2-3105a0b859e2,1.537750e+12,2018-09-23
1,1,True,False,0,0,EUR,2018-09-28,3138,NaN,cities,3908,Xiaomi/clover/clover:8.1.0/OPM1.171019.019/V9....,37.171.185.136,1537746252.841.404650265.91861118,94a66f1d-6bfe-4d24-a19b-0ac20f947dd9,NaN,mobile_flix_android,462ffa0b-a4e7-4166-ae62-de5bdb9af1fe,1.537750e+12,2018-09-23
2,1,True,False,0,0,EUR,2018-10-31,101,NaN,cities,674,Sony/E6653/E6653:7.1.1/32.4.A.1.54/3761073091:...,95.91.201.149,1537746252.696.408362972.93814514,5af456e2-6cdd-4ed2-80ad-752963ac1354,NaN,mobile_flix_android,22f8cc55-a6d1-483e-9c69-e5a396d0b224,1.537750e+12,2018-09-23
3,1,True,False,0,0,EUR,2018-09-24,159,NaN,cities,98,samsung/serranoltexx/serranolte:4.4.2/KOT49H/I...,188.110.250.89,1537746253.181.408367043.94320746,acf6936d-9dfe-4f66-96a8-a0dcd10cace3,NaN,mobile_flix_android,6a0cf6db-82a6-4c1c-a99c-d24b4840b6e4,1.537750e+12,2018-09-23
4,1,True,False,0,0,EUR,2018-10-04,1905,NaN,cities,2015,Mozilla/5.0 (Macintosh; Intel Mac OS X 10.11; ...,5.103.60.14,1537746253.047.404660184.93301074,NaN,;469816027576686|2153774624484552328#215377462...,flixbus_com,bb601fd4-3df4-4f61-9566-0f2acec2a18e,1.537750e+12,2018-09-23

# Drop data

In [110]:
data.drop(['trace_id', 'created_at','client_ruid','client_ip'], axis =1, inplace = True)

## Treat user_agent

In [111]:
data['user_agent'] = data['user_agent'].astype('str')
data['user_agent'] = [x.split('/')[0] for x in data['user_agent']]

In [115]:
data.head()

,adult,after_midnight_rides,back,bikes,children,currency,departure,from,return,search_by,to,user_agent,install_id,webtrekk_eid,shop_code,created_date
0,1,True,False,0,0,EUR,2018-10-14,3908,NaN,cities,106,FlixBus,1,NaN,mobile_flix_ios,2018-09-23
1,1,True,False,0,0,EUR,2018-09-28,3138,NaN,cities,3908,Xiaomi,1,NaN,mobile_flix_android,2018-09-23
2,1,True,False,0,0,EUR,2018-10-31,101,NaN,cities,674,Sony,1,NaN,mobile_flix_android,2018-09-23
3,1,True,False,0,0,EUR,2018-09-24,159,NaN,cities,98,samsung,1,NaN,mobile_flix_android,2018-09-23
4,1,True,False,0,0,EUR,2018-10-04,1905,NaN,cities,2015,Mozilla,0,;469816027576686|2153774624484552328#215377462...,flixbus_com,2018-09-23

## IO columns

In [118]:
def io(df,columns):
    for col in columns:
        df[col] = df[col].astype('str')
        df[col] = [0 if len(x) < 4 else 1 for x in df[col]]
        
io(data,['install_id', 'return', 'webtrekk_eid'])

## True/False into IO

In [120]:
def tf(df,columns):
    for col in columns:
        df[col] = df[col].astype('str')
        df[col] = [1 if len(x) < 5 else 0 for x in df[col]]
        
tf(data,['after_midnight_rides', 'back'])

In [121]:
data.head()

,adult,after_midnight_rides,back,bikes,children,currency,departure,from,return,search_by,to,user_agent,install_id,webtrekk_eid,shop_code,created_date
0,1,1,0,0,0,EUR,2018-10-14,3908,0,cities,106,FlixBus,0,0,mobile_flix_ios,2018-09-23
1,1,1,0,0,0,EUR,2018-09-28,3138,0,cities,3908,Xiaomi,0,0,mobile_flix_android,2018-09-23
2,1,1,0,0,0,EUR,2018-10-31,101,0,cities,674,Sony,0,0,mobile_flix_android,2018-09-23
3,1,1,0,0,0,EUR,2018-09-24,159,0,cities,98,samsung,0,0,mobile_flix_android,2018-09-23
4,1,1,0,0,0,EUR,2018-10-04,1905,0,cities,2015,Mozilla,0,1,flixbus_com,2018-09-23

In [184]:
es  =  ft.EntitySet("sl")

In [185]:
from featuretools import variable_types as vtypes

trip_variable_types = {
    'after_midnight_rides': vtypes.Categorical,
    'back': vtypes.Categorical,
    'bikes': vtypes.Categorical,
    'children': vtypes.Ordinal,
    'currency': vtypes.Categorical,
    'from': vtypes.Categorical,
    'return': vtypes.Categorical,
    'search_by': vtypes.Categorical,
    'to': vtypes.Categorical,
    'user_agent': vtypes.Categorical,
    'bikes': vtypes.Categorical,
    'install_id': vtypes.Categorical,
    'webtrekk_eid': vtypes.Categorical,
    'shop_code': vtypes.Categorical
}

es.entity_from_dataframe(entity_id="sl",
                         dataframe=data,
                         index="id",
                         variable_types=trip_variable_types)

2018-09-24 18:02:28,432 featuretools.entityset - WARNING    index id not found in dataframe, creating new integer column

Entityset: sl
  Entities:
    sl [Rows: 1999, Columns: 17]
  Relationships:
    No relationships

In [186]:
es.normalize_entity(base_entity_id="sl",
                    new_entity_id="from1",
                    index="from")

es.normalize_entity(base_entity_id="sl",
                    new_entity_id="to1",
                    index="to")

es.normalize_entity(base_entity_id="sl",
                    new_entity_id="WT",
                    index="webtrekk_eid")

Entityset: sl
  Entities:
    sl [Rows: 1999, Columns: 17]
    from1 [Rows: 421, Columns: 1]
    to1 [Rows: 479, Columns: 1]
    WT [Rows: 2, Columns: 1]
  Relationships:
    sl.from -> from1.from
    sl.to -> to1.to
    sl.webtrekk_eid -> WT.webtrekk_eid

In [187]:
agg_primitives = ['Sum', 'Mean', 'Median', 'Std', 'Count', 'Min', 'Max', 'Skew']
trans_primitives = ['Day', 'Hour', 'Minute', 'Month', 'Weekday', 'Week', 'Weekend']


es.add_interesting_values(100)

feature_matrix, features = ft.dfs(entityset=es,
                                  target_entity="sl",
                                  trans_primitives=trans_primitives,
                                  agg_primitives=agg_primitives,
                                  verbose=True,
                                  max_depth=5)
feature_matrix.head()

Built 196 features
Elapsed: 00:16 | Remaining: 00:00 | Progress: 100%|█████████████████████████████████████████████████████████████| Calculated: 11/11 chunks

,adult,after_midnight_rides,back,bikes,children,currency,from,return,search_by,to,...,WT.COUNT(sl WHERE shop_code = flixbus_fr),WT.COUNT(sl WHERE currency = USD),WT.COUNT(sl WHERE currency = EUR),WT.COUNT(sl WHERE currency = BGN),WT.COUNT(sl WHERE bikes = 2),WT.COUNT(sl WHERE children = 7),WT.COUNT(sl WHERE currency = UAH),WT.COUNT(sl WHERE currency = SEK),WT.COUNT(sl WHERE currency = PLN),WT.COUNT(sl WHERE install_id = 0)
id,,,,,,,,,,,,,,,,,,,,,
0,1,1,0,0,0,EUR,3908,0,cities,106,...,70,125,1179,16.0,0.0,0.0,16,36,40,1549
1,1,1,0,0,0,EUR,3138,0,cities,3908,...,70,125,1179,16.0,0.0,0.0,16,36,40,1549
2,1,1,0,0,0,EUR,101,0,cities,674,...,70,125,1179,16.0,0.0,0.0,16,36,40,1549
3,1,1,0,0,0,EUR,159,0,cities,98,...,70,125,1179,16.0,0.0,0.0,16,36,40,1549
4,1,1,0,0,0,EUR,1905,0,cities,2015,...,34,59,316,0.0,1.0,1.0,1,7,21,450

In [188]:
pd.options.display.max_rows = 999
feature_matrix.head(20).T

id,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
adult,1,1,1,1,1,1,1,1,1,1,1,2,1,1,1,1,1,1,1,1
after_midnight_rides,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
back,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
bikes,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
children,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
currency,EUR,EUR,EUR,EUR,EUR,USD,EUR,CZK,EUR,EUR,EUR,EUR,EUR,EUR,EUR,EUR,EUR,EUR,EUR,EUR
from,3908,3138,101,159,1905,88,1925,1374,1885,1574,88,96,151,94,13508,109,2578,3498,1194,1194
return,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
search_by,cities,cities,cities,cities,cities,cities,cities,cities,cities,cities,cities,cities,cities,cities,cities,cities,cities,cities,cities,cities
to,106,3908,674,98,2015,2488,1605,1334,158,1965,1001,118,435,96,5178,92,88,6378,626,626
user_agent,FlixBus,Xiaomi,Sony,samsung,Mozilla,Mozilla,Mozilla,Mozilla,Mozilla,Mozilla,samsung,Mozilla,FlixBus,samsung,Mozilla,Mozilla,Mozilla,Mozilla,samsung,samsung
install_id,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
webtrekk_eid,0,0,0,0,1,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0
shop_code,mobile_flix_ios,mobile_flix_android,mobile_flix_android,mobile_flix_android,flixbus_com,flixbus_us,flixbus_at,flixbus_cz,flixbus_de,flixbus_de,mobile_flix_android,flixbus_de,mobile_flix_ios,mobile_flix_android,flixbus_es,flixbus_es,flixbus_at,flixbus_com,mobile_flix_android,mobile_flix_android
DAY(departure),14,28,31,24,4,29,24,24,24,11,10,6,1,26,5,24,25,24,6,5
DAY(created_date),23,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23
HOUR(departure),0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
HOUR(created_date),0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
MINUTE(departure),0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
MINUTE(created_date),0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
MONTH(departure),10,9,10,9,10,9,9,9,9,10,10,10,10,9,4,9,9,9,10,10
MONTH(created_date),9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9
WEEKDAY(departure),6,4,2,0,3,5,0,0,0,3,2,5,0,2,4,0,1,0,5,4
WEEKDAY(created_date),6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6
WEEK(departure),41,39,44,39,40,39,39,39,39,41,41,40,40,39,14,39,39,39,40,40
WEEK(created_date),38,38,38,38,38,38,38,38,38,38,38,38,38,38,38,38,38,38,38,38
WEEKEND(departure),True,False,False,False,False,True,False,False,False,False,False,True,False,False,False,False,False,False,True,False
WEEKEND(created_date),True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
from1.SUM(sl.adult),2,12,87,12,21,754,9,31,2,1,754,46,18,176,9,50,1,15,44,44
from1.MEAN(sl.adult),1,1,3.10714,1,1,6.28333,1.28571,1.14815,1,1,6.28333,1.12195,1,3.08772,1,2.94118,1,1,1.07317,1.07317
from1.MEDIAN(sl.adult),1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
from1.STD(sl.adult),0,0,6.11821,0,0,12.1815,0.48795,0.362014,0,NaN,12.1815,0.331295,0,6.92893,0,7.74976,NaN,0,0.468521,0.468521
from1.COUNT(sl),2,12,28,12,21,120,7,27,2,1,120,41,18,57,9,17,1,15,41,41
from1.MIN(sl.adult),1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
from1.MAX(sl.adult),1,1,23,1,1,40,2,2,1,1,40,2,1,40,1,33,1,1,4,4
from1.SKEW(sl.adult),NaN,0,2.74651,0,0,2.08895,1.22963,2.09937,NaN,NaN,2.08895,2.39929,0,4.67341,0,4.11639,NaN,0,6.40312,6.40312
to1.SUM(sl.adult),15,1,4,10,54,1,7,47,4,5,6,322,1,159,17,11,201,1,4,4
to1.MEAN(sl.adult),1.15385,1,1,1,1.03846,1,1,1.06818,1,1,1,7.15556,1,3.45652,1.21429,1,3.29508,1,1,1
to1.MEDIAN(sl.adult),1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
to1.STD(sl.adult),0.5547,NaN,0,0,0.194184,NaN,0,0.254972,0,0,0,12.1953,NaN,9.33502,0.425815,0,8.64358,NaN,0,0
to1.COUNT(sl),13,1,4,10,52,1,7,44,4,5,6,45,1,46,14,11,61,1,4,4
to1.MIN(sl.adult),1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
to1.MAX(sl.adult),3,1,1,1,2,1,1,2,1,1,1,40,1,40,2,1,40,1,1,1
to1.SKEW(sl.adult),3.60555,NaN,0,0,4.94377,NaN,0,3.54848,0,0,0,1.93602,NaN,3.66593,1.56562,0,3.65391,NaN,0,0
WT.SUM(sl.adult),1703,1703,1703,1703,2417,1703,1703,1703,1703,1703,1703,2417,1703,1703,2417,1703,1703,1703,1703,1703
WT.MEAN(sl.adult),1.09942,1.09942,1.09942,1.09942,5.37111,1.09942,1.09942,1.09942,1.09942,1.09942,1.09942,5.37111,1.09942,1.09942,5.37111,1.09942,1.09942,1.09942,1.09942,1.09942
WT.MEDIAN(sl.adult),1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
WT.STD(sl.adult),0.516329,0.516329,0.516329,0.516329,11.2485,0.516329,0.516329,0.516329,0.516329,0.516329,0.516329,11.2485,0.516329,0.516329,11.2485,0.516329,0.516329,0.516329,0.516329,0.516329
WT.COUNT(sl),1549,1549,1549,1549,450,1549,1549,1549,1549,1549,1549,450,1549,1549,450,1549,1549,1549,1549,1549
WT.MIN(sl.adult),1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
WT.MAX(sl.adult),11,11,11,11,40,11,11,11,11,11,11,40,11,11,40,11,11,11,11,11
WT.SKEW(sl.adult),12.0643,12.0643,12.0643,12.0643,2.43813,12.0643,12.0643,12.0643,12.0643,12.0643,12.0643,2.43813,12.0643,12.0643,2.43813,12.0643,12.0643,12.0643,12.0643,12.0643
from1.COUNT(sl WHERE search_by = cities),2,12,28,12,21,120,7,27,2,1,120,41,18,57,9,17,1,15,41,41
from1.COUNT(sl WHERE shop_code = flixbus_us),0,0,1,0,0,3,0,1,0,0,3,3,0,3,0,2,0,0,2,2
from1.COUNT(sl WHERE currency = DKK),0,0,0,0,6,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
from1.COUNT(sl WHERE children = 9),0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
from1.COUNT(sl WHERE children = 6),0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
from1.COUNT(sl WHERE children = 17),0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0
from1.COUNT(sl WHERE children = 40),0,0,0,0,0,3,0,0,0,0,3,0,0,0,0,0,0,0,0,0
from1.COUNT(sl WHERE currency = CHF),0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
from1.COUNT(sl WHERE shop_code = flixbus_de),0,2,11,0,1,46,0,0,1,1,46,13,2,13,0,4,0,1,2,2
from1.COUNT(sl WHERE user_agent = samsung),0,0,3,2,2,11,4,2,0,0,11,2,10,3,0,2,0,2,5,5
from1.COUNT(sl WHERE return = 0),2,12,28,12,21,120,7,27,2,1,120,41,18,57,9,17,1,15,41,41
from1.COUNT(sl WHERE bikes = 1),0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
from1.COUNT(sl WHERE currency = RON),0,0,1,0,0,0,0,2,0,0,0,0,0,0,0,1,0,0,0,0
from1.COUNT(sl WHERE children = 3),0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
from1.COUNT(sl WHERE shop_code = flixbus_it),0,0,0,0,1,2,0,0,0,0,2,0,0,3,0,1,0,1,24,24
from1.COUNT(sl WHERE currency = RSD),0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1
from1.COUNT(sl WHERE back = 1),0,0,1,0,1,8,0,2,0,0,8,4,0,1,2,1,0,2,2,2
from1.COUNT(sl WHERE currency = MKD),0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
from1.COUNT(sl WHERE shop_code = mobile_flix_android),0,6,7,2,5,24,4,7,0,0,24,11,10,5,0,3,0,6,5,5
from1.COUNT(sl WHERE currency = HUF),0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
from1.COUNT(sl WHERE children = 25),0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
from1.COUNT(sl WHERE currency = CZK),0,0,0,0,0,11,0,6,0,0,11,1,0,0,0,0,0,0,0,0
from1.COUNT(sl WHERE user_agent = FlixBus),1,0,2,3,1,11,0,3,0,0,11,6,6,6,0,2,0,0,3,3
from1.COUNT(sl WHERE currency = BAM),0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0
from1.COUNT(sl WHERE children = 0),2,12,28,12,20,113,7,27,2,1,113,39,18,57,9,17,1,15,41,41
from1.COUNT(sl WHERE search_by = stations),0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
from1.COUNT(sl WHERE currency = HRK),0,0,0,0,0,3,0,0,0,0,3,0,0,0,0,0,0,0,0,0
from1.COUNT(sl WHERE currency = GBP),0,0,0,0,1,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0
from1.COUNT(sl WHERE bikes = 0),2,12,28,12,21,120,7,27,2,1,120,41,18,57,9,17,1,14,41,41
from1.COUNT(sl WHERE shop_code = mobile_flix_ios),1,0,2,3,1,10,0,3,0,0,10,6,6,6,0,2,0,0,3,3
from1.COUNT(sl WHERE children = 13),0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0
from1.COUNT(sl WHERE children = 10),0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0
from1.COUNT(sl WHERE after_midnight_rides = 1),2,12,28,12,21,120,7,27,2,1,120,41,18,57,9,17,1,15,41,41
from1.COUNT(sl WHERE children = 2),0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
from1.COUNT(sl WHERE currency = ALL),0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
from1.COUNT(sl WHERE back = 0),2,12,27,12,20,112,7,25,2,1,112,37,18,56,7,16,1,13,39,39
from1.COUNT(sl WHERE user_agent = Mozilla),1,6,19,7,14,84,3,16,2,1,84,24,2,23,9,12,1,9,25,25
from1.COUNT(sl WHERE children = 1),0,0,0,0,0,1,0,0,0,0,1,2,0,0,0,0,0,0,0,0
from1.COUNT(sl WHERE shop_code = flixbus_fr),0,4,0,0,0,5,0,0,0,0,5,2,0,1,0,1,0,6,3,3
from1.COUNT(sl WHERE currency = USD),0,0,1,2,0,4,1,1,0,0,4,3,0,3,0,2,0,0,2,2
from1.COUNT(sl WHERE currency = EUR),1,12,25,10,6,95,6,8,1,1,95,36,18,53,9,13,1,15,36,36
from1.COUNT(sl WHERE currency = BGN),0,0,0,0,0,0,0,7,0,0,0,0,0,0,0,0,0,0,0,0
from1.COUNT(sl WHERE bikes = 2),0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
from1.COUNT(sl WHERE children = 7),0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
from1.COUNT(sl WHERE currency = UAH),0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0
from1.COUNT(sl WHERE currency = SEK),0,0,0,0,8,1,0,0,0,0,1,0,0,0,0,0,0,0,1,1
from1.COUNT(sl WHERE currency = PLN),1,0,0,0,0,3,0,2,1,0,3,1,0,0,0,0,0,0,1,1
from1.COUNT(sl WHERE install_id = 0),2,12,28,12,21,120,7,27,2,1,120,41,18,57,9,17,1,15,41,41
to1.COUNT(sl WHERE search_by = cities),13,1,4,10,52,1,7,44,4,5,6,45,1,46,14,11,61,1,4,4
to1.COUNT(sl WHERE shop_code = flixbus_us),0,0,0,0,0,1,0,1,0,1,0,1,0,5,0,1,7,0,0,0
to1.COUNT(sl WHERE currency = DKK),0,0,0,0,0,0,0,2,0,0,0,5,0,0,0,0,5,0,0,0
to1.COUNT(sl WHERE children = 9),0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
to1.COUNT(sl WHERE children = 6),0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
to1.COUNT(sl WHERE children = 17),0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
to1.COUNT(sl WHERE children = 40),0,0,0,0,0,0,0,0,0,0,0,2,0,1,0,0,1,0,0,0
to1.COUNT(sl WHERE currency = CHF),0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
to1.COUNT(sl WHERE shop_code = flixbus_de),0,0,1,3,2,0,0,3,2,1,1,18,0,5,0,2,13,0,0,0
to1.COUNT(sl WHERE user_agent = samsung),0,0,0,4,20,0,1,13,1,2,2,8,0,9,2,0,16,0,3,3
to1.COUNT(sl WHERE return = 0),13,1,4,10,52,1,7,44,4,5,6,45,1,46,14,11,61,1,4,4
to1.COUNT(sl WHERE bikes = 1),0,0,0,0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
to1.COUNT(sl WHERE currency = RON),0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,4,0,0,0
to1.COUNT(sl WHERE children = 3),0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
to1.COUNT(sl WHERE shop_code = flixbus_it),1,0,0,0,1,0,0,0,0,0,1,1,0,0,0,0,1,0,0,0
to1.COUNT(sl WHERE currency = RSD),0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
to1.COUNT(sl WHERE back = 1),0,0,0,0,4,0,0,6,0,1,0,6,0,2,1,1,2,0,0,0
to1.COUNT(sl WHERE currency = MKD),0,0,0,0,0,0,0,2,0,0,0,0,0,0,0,0,0,0,0,0
to1.COUNT(sl WHERE shop_code = mobile_flix_android),1,1,3,5,28,0,1,19,1,2,2,12,0,10,5,4,23,0,3,3
to1.COUNT(sl WHERE currency = HUF),1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
to1.COUNT(sl WHERE children = 25),0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
to1.COUNT(sl WHERE currency = CZK),0,0,0,0,0,0,5,1,0,0,0,1,0,1,0,0,3,0,0,0
to1.COUNT(sl WHERE user_agent = FlixBus),4,0,0,2,9,0,0,3,0,0,0,3,1,23,0,1,4,0,1,1
to1.COUNT(sl WHERE currency = BAM),0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
to1.COUNT(sl WHERE children = 0),13,1,4,10,52,1,7,44,4,5,6,40,1,44,14,11,58,1,4,4
to1.COUNT(sl WHERE search_by = stations),0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
to1.COUNT(sl WHERE currency = HRK),0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
to1.COUNT(sl WHERE currency = GBP),0,0,0,0,1,0,0,1,0,0,1,2,0,1,0,0,0,0,0,0
to1.COUNT(sl WHERE bikes = 0),13,1,4,10,50,1,7,44,4,5,6,45,1,46,14,11,61,1,4,4
to1.COUNT(sl WHERE shop_code = mobile_flix_ios),4,0,0,2,9,0,0,3,0,0,0,3,1,23,0,1,4,0,1,1
to1.COUNT(sl WHERE children = 13),0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
to1.COUNT(sl WHERE children = 10),0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
to1.COUNT(sl WHERE after_midnight_rides = 1),13,1,4,10,52,1,7,44,4,5,6,45,1,46,14,11,61,1,4,4
to1.COUNT(sl WHERE children = 2),0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
to1.COUNT(sl WHERE currency = ALL),0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
to1.COUNT(sl WHERE back = 0),13,1,4,10,48,1,7,38,4,4,6,39,1,44,13,10,59,1,4,4
to1.COUNT(sl WHERE user_agent = Mozilla),8,0,1,3,15,1,6,20,3,3,4,29,0,13,9,6,34,1,0,0
to1.COUNT(sl WHERE children = 1),0,0,0,0,0,0,0,0,0,0,0,2,0,0,0,0,1,0,0,0
to1.COUNT(sl WHERE shop_code = flixbus_fr),1,0,0,0,6,0,0,1,0,1,1,0,0,0,0,1,0,0,0,0
to1.COUNT(sl WHERE currency = USD),0,0,0,2,1,1,0,3,0,1,0,2,0,5,0,1,7,0,0,0
to1.COUNT(sl WHERE currency = EUR),11,1,4,8,49,0,2,33,3,4,5,34,1,39,14,10,37,1,4,4
to1.COUNT(sl WHERE currency = BGN),0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
to1.COUNT(sl WHERE bikes = 2),0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
to1.COUNT(sl WHERE children = 7),0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
to1.COUNT(sl WHERE currency = UAH),1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
to1.COUNT(sl WHERE currency = SEK),0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
to1.COUNT(sl WHERE currency = PLN),0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,4,0,0,0
to1.COUNT(sl WHERE install_id = 0),13,1,4,10,52,1,7,44,4,5,6,45,1,46,14,11,61,1,4,4
WT.COUNT(sl WHERE search_by = cities),1548,1548,1548,1548,450,1548,1548,1548,1548,1548,1548,450,1548,1548,450,1548,1548,1548,1548,1548
WT.COUNT(sl WHERE shop_code = flixbus_us),66,66,66,66,59,66,66,66,66,66,66,59,66,66,59,66,66,66,66,66
WT.COUNT(sl WHERE currency = DKK),21,21,21,21,5,21,21,21,21,21,21,5,21,21,5,21,21,21,21,21
WT.COUNT(sl WHERE children = 9),0,0,0,0,1,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0
WT.COUNT(sl WHERE children = 6),0,0,0,0,1,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0
WT.COUNT(sl WHERE children = 17),0,0,0,0,2,0,0,0,0,0,0,2,0,0,2,0,0,0,0,0
WT.COUNT(sl WHERE children = 40),0,0,0,0,10,0,0,0,0,0,0,10,0,0,10,0,0,0,0,0
WT.COUNT(sl WHERE currency = CHF),4,4,4,4,0,4,4,4,4,4,4,0,4,4,0,4,4,4,4,4
WT.COUNT(sl WHERE shop_code = flixbus_de),171,171,171,171,147,171,171,171,171,171,171,147,171,171,147,171,171,171,171,171
WT.COUNT(sl WHERE user_agent = samsung),337,337,337,337,0,337,337,337,337,337,337,0,337,337,0,337,337,337,337,337
WT.COUNT(sl WHERE return = 0),1549,1549,1549,1549,450,1549,1549,1549,1549,1549,1549,450,1549,1549,450,1549,1549,1549,1549,1549
WT.COUNT(sl WHERE bikes = 1),2,2,2,2,1,2,2,2,2,2,2,1,2,2,1,2,2,2,2,2
WT.COUNT(sl WHERE currency = RON),9,9,9,9,2,9,9,9,9,9,9,2,9,9,2,9,9,9,9,9
WT.COUNT(sl WHERE children = 3),1,1,1,1,0,1,1,1,1,1,1,0,1,1,0,1,1,1,1,1
WT.COUNT(sl WHERE shop_code = flixbus_it),144,144,144,144,51,144,144,144,144,144,144,51,144,144,51,144,144,144,144,144
WT.COUNT(sl WHERE currency = RSD),2,2,2,2,1,2,2,2,2,2,2,1,2,2,1,2,2,2,2,2
WT.COUNT(sl WHERE back = 1),15,15,15,15,81,15,15,15,15,15,15,81,15,15,81,15,15,15,15,15
WT.COUNT(sl WHERE currency = MKD),3,3,3,3,0,3,3,3,3,3,3,0,3,3,0,3,3,3,3,3
WT.COUNT(sl WHERE shop_code = mobile_flix_android),559,559,559,559,0,559,559,559,559,559,559,0,559,559,0,559,559,559,559,559
WT.COUNT(sl WHERE currency = HUF),9,9,9,9,3,9,9,9,9,9,9,3,9,9,3,9,9,9,9,9
WT.COUNT(sl WHERE children = 25),0,0,0,0,1,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0
WT.COUNT(sl WHERE currency = CZK),32,32,32,32,26,32,32,32,32,32,32,26,32,32,26,32,32,32,32,32
WT.COUNT(sl WHERE user_agent = FlixBus),209,209,209,209,0,209,209,209,209,209,209,0,209,209,0,209,209,209,209,209
WT.COUNT(sl WHERE currency = BAM),9,9,9,9,0,9,9,9,9,9,9,0,9,9,0,9,9,9,9,9
WT.COUNT(sl WHERE children = 0),1542,1542,1542,1542,419,1542,1542,1542,1542,1542,1542,419,1542,1542,419,1542,1542,1542,1542,1542
WT.COUNT(sl WHERE search_by = stations),1,1,1,1,0,1,1,1,1,1,1,0,1,1,0,1,1,1,1,1
WT.COUNT(sl WHERE currency = HRK),13,13,13,13,3,13,13,13,13,13,13,3,13,13,3,13,13,13,13,13
WT.COUNT(sl WHERE currency = GBP),22,22,22,22,6,22,22,22,22,22,22,6,22,22,6,22,22,22,22,22
WT.COUNT(sl WHERE bikes = 0),1547,1547,1547,1547,448,1547,1547,1547,1547,1547,1547,448,1547,1547,448,1547,1547,1547,1547,1547
WT.COUNT(sl WHERE shop_code = mobile_flix_ios),208,208,208,208,0,208,208,208,208,208,208,0,208,208,0,208,208,208,208,208
WT.COUNT(sl WHERE children = 13),0,0,0,0,1,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0
WT.COUNT(sl WHERE children = 10),0,0,0,0,1,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0
WT.COUNT(sl WHERE after_midnight_rides = 1),1549,1549,1549,1549,450,1549,1549,1549,1549,1549,1549,450,1549,1549,450,1549,1549,1549,1549,1549
WT.COUNT(sl WHERE children = 2),0,0,0,0,6,0,0,0,0,0,0,6,0,0,6,0,0,0,0,0
WT.COUNT(sl WHERE currency = ALL),13,13,13,13,0,13,13,13,13,13,13,0,13,13,0,13,13,13,13,13
WT.COUNT(sl WHERE back = 0),1534,1534,1534,1534,369,1534,1534,1534,1534,1534,1534,369,1534,1534,369,1534,1534,1534,1534,1534
WT.COUNT(sl WHERE user_agent = Mozilla),636,636,636,636,450,636,636,636,636,636,636,450,636,636,450,636,636,636,636,636
WT.COUNT(sl WHERE children = 1),6,6,6,6,7,6,6,6,6,6,6,7,6,6,7,6,6,6,6,6
WT.COUNT(sl WHERE shop_code = flixbus_fr),70,70,70,70,34,70,70,70,70,70,70,34,70,70,34,70,70,70,70,70
WT.COUNT(sl WHERE currency = USD),125,125,125,125,59,125,125,125,125,125,125,59,125,125,59,125,125,125,125,125
WT.COUNT(sl WHERE currency = EUR),1179,1179,1179,1179,316,1179,1179,1179,1179,1179,1179,316,1179,1179,316,1179,1179,1179,1179,1179
WT.COUNT(sl WHERE currency = BGN),16,16,16,16,0,16,16,16,16,16,16,0,16,16,0,16,16,16,16,16
WT.COUNT(sl WHERE bikes = 2),0,0,0,0,1,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0
WT.COUNT(sl WHERE children = 7),0,0,0,0,1,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0
WT.COUNT(sl WHERE currency = UAH),16,16,16,16,1,16,16,16,16,16,16,1,16,16,1,16,16,16,16,16
WT.COUNT(sl WHERE currency = SEK),36,36,36,36,7,36,36,36,36,36,36,7,36,36,7,36,36,36,36,36
WT.COUNT(sl WHERE currency = PLN),40,40,40,40,21,40,40,40,40,40,40,21,40,40,21,40,40,40,40,40
WT.COUNT(sl WHERE install_id = 0),1549,1549,1549,1549,450,1549,1549,1549,1549,1549,1549,450,1549,1549,450,1549,1549,1549,1549,1549